
/*GENERAL*/
/*===================================================================*/
body {
	display: flex; align-items: center;
	background-color: #eee;
	background-size: 100px;
	background-blend-mode: screen;
	width: 100%;
	height: 100vh;
	font-family: "Quicksand";

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }
a, a:hover, a:focus, a:active {
	text-decoration: none; }

/*MAIN CARD*/
/*===================================================================*/
.main-card {
	position: relative;
    width: 100%; max-width: 1200px;
    height: 90vh;
	background-color: #eee;
	background-size: 100px;
	background-blend-mode: screen;
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    overflow: hidden; }
    .main-card #main-frame {
    	position: relative; left: 0; 
		display: block;
	    width: 100%;
	    height: 100%;
	    border: 0;
	    overflow: hidden;
	    opacity: 1;
		filter: blur(0px);
	    transition: 0.3s; }
	    .main-card #main-frame.open-menu {
	    	left: 80px;
	        width: calc(100% - 80px);
	        transition: 0.3s; }
    	.main-card #main-frame.page-load {
    		opacity: 0;
	    	transition: 0.5s; }

	.main-card .out-focus {
		filter: blur(3px) !important;
    	transition: 0.3s; }    	

/*LOADING SCREEN*/
/*===================================================================*/
.loading-screen {
	visibility: hidden;
    position: absolute; top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: 0.5s; }
    .loading-screen:before,
    .loading-screen:after {
    	content: "";
		position: absolute; top: 0;
		width: 0%;
		height: 100vh;
		background-color: rgba(0,0,0,0.9); }
	    .loading-screen:before { left: 0; }
	    .loading-screen:after { right: 0; }


    .loading-screen.loading {
    	width: 100%;
		visibility: visible;
		transition: 0.5s; }
	    .loading-screen.loading:before,
	    .loading-screen.loading:after {
			width: 50%;
			transition: 0.5s; }
			.loading-screen.loading.unload:before { width: 0%; left: 50%; }
		    .loading-screen.loading.unload:after { width: 0%; right: 50%; }

	.loading-screen .loading-diamond {
	    width: 100px;
	    height: 100px;
	    background-color: white;
	    position: absolute;
	    top: calc(50% - 50px);
	    left: calc(50% - 50px);
	    box-shadow: 0 0 0 10px transparent;
	    transform: scale(0) rotate(45deg);
	    z-index: 1;
	    transition: 0.5s; }    
		.loading-screen .loading-diamond img {
	    	width: 100px; }
		.loading-screen .loading-diamond:before,
		.loading-screen .loading-diamond:after {
			content: "";
			position: absolute;
			border: 50px solid white;
    		transform: rotate(0deg); }
			.loading-screen .loading-diamond:before {
				top: -10px; left: -10px;
				width: calc(100% + 20px);
				height: calc(100% + 20px);
				transition: 0.5s; }
			.loading-screen .loading-diamond:after {
				top: -30px; left: -30px;
				width: calc(100% + 60px);
				height: calc(100% + 60px);
				transition: 0.2s; }

    	.loading-screen.loading .loading-diamond { 
    		transform: scale(1) rotate(45deg);
    		transition: 0.3s; }
    		.loading-screen.loading .loading-diamond:before { 
    			border-width: 2px;
				border-radius: 0%;
    			transition: 0.5s; }
	    		.loading-screen.loading.unload .loading-diamond:before { 
    				transform: scale(2) rotate(45deg);
    				border-radius: 100%;
	    			transition: 0.2s; }
	    		.loading-screen.kept .loading-diamond:before {
					border-width: 2px;
					border-radius: 100%;
	    			transform: scale(5) rotate(45deg); }
    		.loading-screen.loading .loading-diamond:after { 
    			border-width: 10px;
    			transition: 0.8s; }
	    		.loading-screen.kept .loading-diamond:after,
	    		.loading-screen.loading.unload .loading-diamond:after { 
    				border-width: 20px;
    				transform: scale(1) rotate(180deg); 
	    			transition: 0.4s; }


/*TOOLTIP*/
/*===================================================================*/
.tooltip-ico { 
	display: none;
    position: absolute;
    width: 30px; height: 30px;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s; }
    .tooltip-ico.active,
    .tooltip-ico:hover {
    	width: 50px;
    	transition: 0.3s; }

.tooltip-box {
	display: none;
    position: absolute;
    width: 175px;
    background-color: #607d8b;
    z-index: -1;
    transform: translateX(175px);
    transition: 0.3s; }
	.tooltip-box.active {
	    transform: translateX(0);
	    transition: 0.3s; }

    .tooltip-box .title {
    	float: left;
	    width: 100%;
	    color: white;
	    font-family: "Righteous";
	    text-transform: uppercase;
	    line-height: 1;
	    padding: 15px 15px 5px; }
    .tooltip-box .desc {
    	float: left;
	    width: 100%;
	    color: white;
	    font-size: 10px;
	    line-height: 1.4;
	    padding: 0 15px 15px; }
    	.tooltip-box .desc hr {
    		margin: 5px 0;
    		border-color: rgba(255,255,255,0.3); }
    	.tooltip-box .desc .stat { 
	    	font-weight: bold; }

/*MENU*/
/*===================================================================*/
.menu-btn {
	display: none;
	position: absolute; bottom: 0px; left: 0px;
	width: 80px;
	height: 80px;
	color: white;
	font-size: 25px;
	text-align: center;
	padding: 22px 0;
	filter: blur(0px);
	cursor: pointer;
    z-index: 20;
    transition: 0.3s; }

.main-menu {
	position: absolute; top: 0; left: -81px;
	width: 80px; height: 100%;;
	background-color: rgba(50,50,100,0.8);
	z-index: 20;
	transition: 0.3s; }
	.main-menu.open-menu {
		left: 0;
		transition: 0.3s; }
	.main-menu .menu-item {
	    float: left;
	    width: 80px;
	    height: 80px;
	    color: white;
	    background-color: rgba(0,0,0,0.4);
	    font-size: 25px;
	    text-align: center;
	    padding-top: 22px;
		border-left: 0 solid white;
	    margin-bottom: 1px;
	    transition: 0.5s;
	    cursor: pointer; }
	    .main-menu .menu-item:hover { 
	    	transition: 0.5s; }
	    .main-menu .menu-item.active {
    		border-left: 5px solid grey;
    		transition: 0.3s; }


	/*MENU SUB MENU*/
	/*===================================================================*/
	.sub-menu {
		position: absolute; top: 0; left: 80px;
		width: 0; height: 100%;
		background-color: rgba(50,50,100,0.5);
		overflow: hidden;
		z-index: 20;
		transition: 0.3s; }
		.sub-menu.open-menu {
			width: 200px;
			transition: 0.3s; }
		.sub-menu .menu-item {
			position: absolute; top: -30px;
		    float: left;
		    width: calc(100% + 17px);
		    /*width: calc(100%);*/
			max-height: 100%;
		    color: white;
		    background-color: rgba(0,0,0,0.4);
		    padding-left: 1px;
		    overflow-y: scroll;
		    opacity: 0;
		    visibility: hidden;
		    transition: 0.5s;
		    cursor: pointer;
		    transition: 0.3s; }
			.sub-menu .menu-item.open {
				top: 0;
				opacity: 1;
				visibility: visible;
				transition: 0.3s; }

			.sub-menu .menu-title,
		    .sub-menu .menu-inner {
		    	position: relative;
			    color: white;
			    background-color: rgba(0,0,0,0.3);
			    text-transform: capitalize;
			    padding: 5px 20px;
			    margin-bottom: 1px;
			    transition: 0.5s; }
			    .sub-menu .menu-item a { 
			    	position: relative; left: -40%; 
			    	opacity: 0; }
				    .sub-menu .menu-item.open a { 
				    	position: relative; left: 0; 
				    	opacity: 1; 
				    	transition: 0.3s; }

				.sub-menu .menu-inner.sub {
					background-color: rgba(0,0,0,0.2);
					padding: 3px 20px;
				 	padding-left: 30px; }
			    .sub-menu .menu-inner i {
				    position: absolute;
				    right: 15px;
				    top: 8px; }
		    .sub-menu .menu-inner:hover { 
		    	transition: 0.3s; }
			.sub-menu .menu-title {
			    background-color: rgba(50,100,100,0.3);
			    font-family: "Righteous";
			    font-size: 20px;
			    letter-spacing: -1px;
			    line-height: 20px;
			    padding: 15px 20px; }


	/*MENU ACTION*/
	/*===================================================================*/
	.menu-action {
		display: none;
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 80px;
		height: 80px;
		color: white;
		font-size: 25px;
		text-align: center;
		padding: 22px 0;
		z-index: 31;
		cursor: pointer; }

	.action-menu {
	    position: absolute; bottom: -220px; right: -220px;
	    width: 450px;
	    height: 450px;
	    border-radius: 100%;
		background-color: rgba(50,50,100,0.5);
	    transform: scale(0);
	    z-index: 31;
	    transition: 0.3s; }
		.action-menu.open-menu { 
			transform: scale(1);
			transition: 0.5s; }
		.action-menu:before { 
			content: "";
			position: absolute; bottom: 0; right: 0;
		    width: 425px;
		    height: 425px;
		    border-radius: 100%;
		    border: 50px solid white;
		    transform: scale(0);
		    transition: 0.5s; }
		    .action-menu.open-menu:before {
			    border: 2px solid white; 
				transform: scale(1);
				transition: 0.5s; }

			.action-menu .action-title {
			    position: absolute;
			    bottom: calc(50% + 60px);
			    right: calc(50% + 25px);
			    width: 100px;
			    font-family: "Righteous";
			    font-size: 20px;
			    font-weight: bold;
			    text-align: right;
			    text-transform: uppercase;
			    color: white;
			    line-height: 17px; }
			.action-menu .action-item {
			    position: absolute;
			    top: calc(50% + 25px);
			    left: calc(50% + 25px);
			    width: 50px;
			    height: 50px;
			    color: grey;
			    background-color: white;
			    font-size: 20px;
			    text-align: center;
			    border-radius: 100%;
			    padding-top: 10px;
			    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
			    transition: 0.5s;
			    cursor: pointer; }
			    .action-menu .action-item:hover,
			    .action-menu .action-item.current {
			    	color: white;
			    	transition: 0.3s; }
			    .action-menu .action-item.hidden {
			    	visibility: hidden; }


	/*MENU TIME*/
	/*===================================================================*/
	.menu-time {
		display: none;
	    position: absolute; top: 20px; right: 20px;
	    color: white;
	    font-size: 16px;
	    text-align: right;
	    line-height: 20px;
		filter: blur(0px);
	    z-index: 20;
	    transition: 0.3s; }
	    .menu-time .time span { 
	    	font-size: 30px;
	    	font-family: "Righteous"; }

	/*MENU PARTY*/
	/*===================================================================*/
	.menu-party {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
		background-color: rgba(50,50,100,0.8);
	    padding: 0 50px;
	    z-index: 30;
	    opacity: 0;
	    visibility: hidden;
	    transition: 1s; }
	    .menu-party.open {
		    opacity: 1;
		    visibility: visible;
		    transition: 0.3s; }

	    .menu-party .title {
		    position: absolute;
		    top: 20px;
		    left: 75px;
		    color: white;
		    font-family: "Righteous";
		    font-size: 45px;
		    text-transform: uppercase;
		    letter-spacing: -1px; }
		.party-options {
		    position: absolute;
		    top: 42px;
	        right: 75px; }
		    .party-options .option {
		    	position: relative; top: 0;
			    float: left;
			    color: rgba(255, 255, 255, 0.9);
			    font-size: 22px;
			    margin-right: 5px;
			    cursor: pointer;
			    transition: 0.5s; }
			.party-options .option:hover {
				top: -5px;
				transition: 0.3s; }

		.menu-party .chars {
		    height: 100%; }
	    .menu-party .char {
	    	position: relative;
		    float: left;
		    width: calc(97% / 3);
		    height: calc(100% - 150px);
			background-color: rgba(0,0,0,0.5);
		    color: white;
		    margin: 75px calc(3% / 6) 0;
		    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
		    overflow: hidden;
		    opacity: 0;
		    transform: translateY(-100px);
		    transition: 0.3s;
		    transition-delay: 0s; }
	    	.menu-party.open .char {
	    		opacity: 1;
	    		transform: translateY(0px);
	    		transition: 0.5s; }
		    	.menu-party .chars .char:nth-child(1) { transition-delay: 0.2s; }
		    	.menu-party .chars .char:nth-child(2) { transition-delay: 0.3s; }
		    	.menu-party .chars .char:nth-child(3) { transition-delay: 0.4s; }

		    .menu-party .scroll {    
		    	position: relative;
		    	width: calc(100% + 17px);
		    	height: 100%;    
    			padding: 200px 30px 30px;
		    	overflow-y: scroll;
		    	overflow-x: hidden; }
		    	.menu-party .scroll:after {
					content: "";
					display: block;
					height: 30px;
					width: 100%; }

		    .menu-party .char .portrait {
			    position: absolute; bottom: -25%; right: -0%;
			    width: 80%;
				height: 80%;
			    margin: -30px; 
			    opacity: 1;
			    background-size: cover;
				background-position: center;
				mix-blend-mode: difference;
				transform: scale(1.1) rotate(-45deg);
    			transition: 0.5s; }
			    .menu-party.open .char:hover .portrait { 
			    	transform: scale(1.1) rotate(-45deg);
			    	transition: 0.3s; }
				.portrait-rand {
				    position: absolute; top: 5px; right: 5px;
				    font-size: 20px;
				    cursor: pointer; }

		    .menu-party .char .diamonds .diamond {
    			opacity: 0.3;
    			transform: scale(0.95) rotate(45deg);
    			transition: 0.5s; }
			    .menu-party.open .char:hover .diamonds .diamond {
	    			opacity: 0.6;
					transform: scale(1) rotate(45deg);
	    			transition: 0.3s; }

		    .menu-party .char .name {
		    	position: relative;
			    background-color: transparent;
			    font-family: "Righteous";
			    font-size: 20px;
				text-transform: uppercase;
				text-align: left;
			    border: 0;
			    border-bottom: 1px solid rgba(255,255,255,0.5);
			    width: 100%;
			    padding: 0 15px;
			    z-index: 10; }
		    	.menu-party .char .name::placeholder { 
		    		color: rgba(255,255,255,0.5); }
			.menu-party .char .stats {
				position: relative;
			    float: left;
			    width: 100%;
			    margin-top: 5px;
			    z-index: 10; }
				.menu-party .char .stats:before {
					float: left;
					width: 100%;
				    font-family: "Righteous";
					text-transform: uppercase;
				    padding: 0 15px;
				    border-bottom: 1px solid rgba(255,255,255,0.5);
				    margin-bottom: 1px; } 
					.menu-party .char .attributes:before { content: "Stats"; } 
					.menu-party .char .resistances:before { content: "Resistances"; }
					.menu-party .char .social:before { content: "Social"; }
					.menu-party .char .origin:before { content: "Origin"; }
			    	.menu-party .char .traits:before { content: "Traits"; }
			    	.menu-party .char .skills:before { content: "Arts"; }

				.menu-party .char .stats .colrow {
				    margin: 0 -0.5px; }
					.menu-party .char .stats .col3 {
					    float: left;
					    width: calc(100% / 3);
					    padding: 0 0.5px; }
					.menu-party .char .stats .col2 {
					    float: left;
					    width: calc(100% / 2);
					    padding: 0 0.5px; }

				.menu-party .char .stats .stat {
		   			float: left;
		   			width: 100%;
				    background-color: rgba(0,0,0,0.3);
				    color: rgba(255,255,255,0.5);
				    padding: 3px 15px;
				    margin-bottom: 1px;
				    box-shadow: 0 0 0 0 white;
					transition: 0.5s; }c
			    	/*.menu-party .char .stats .stat:nth-child(0n+0) { transition-delay: 0s; }*/
			    	.menu-party .char .stats .stat:nth-child(1n+0) { transition-delay: 0.0s; }
			    	.menu-party .char .stats .stat:nth-child(2n+0) { transition-delay: 0.1s; }
				    .menu-party .char .stats .stat i {
				    	color: white; }
				    .menu-party .char .stats .stat .val {
					    float: right;
					    color: white;
					    font-family: "Righteous"; }
					.menu-party .char.in-rand .stats .stat {
					    background-color: white;
					    box-shadow: 0 0 20px 3px white;
					    transition: 0.1s; } 

					.menu-party .char .stat.ttaffinity {
						font-weight: bold;
						border: 5px solid grey;
						border-top-width: 0;
						border-bottom-width: 0; }


				.menu-party .char .resistances .stat i {
    				position: relative; top: -2px;
     				display: inline-block;
				    width: 18px; height: 18px;
				    font-size: 10px;
			        padding: 3px;
				    border: 1px solid white;
				    border-radius: 100%; }

		   	.menu-party .char .attr {
		   		position: relative;
		   		float: left;
		   		width: 100%;
		   		background-color: rgba(0,0,0,0.3);
			    color: white;
			    padding: 3px 15px;
			    margin-bottom: 1px;
			    box-shadow: 0 0 0 0 white;
				transition: 0.5s;
			    cursor: pointer;  }
		    	/*.menu-party .char .attr:nth-child(0n+0) { transition-delay: 0s; }*/
		    	.menu-party .char .attr:nth-child(1n+0) { transition-delay: 0.0s; }
		    	.menu-party .char .attr:nth-child(2n+0) { transition-delay: 0.1s; }

			    /*.menu-party .char .attr .inner-attr { text-transform: capitalize; }*/
			    	.menu-party .char .attr .inner-attr.inactive {  display: none; color: rgba(255, 255, 255, 0.5); }
			    	/*.menu-party .char .attr .inner-attr.inactive.affinity {   }*/
			    .menu-party .char .attr.compatible:before,
			    .menu-party .char .attr.incompatible:before { 
			    	content: "";
			    	position: absolute;
			    	top: 3px; right: 3px;
			    	width: 10px; height: 10px;
			    	background-color: grey;
			    	border-radius: 100%; }
				    .menu-party .char .attr.compatible:before { background-color: #0be8b5 }
				    .menu-party .char .attr.incompatible:before { background-color: #ff4700 }
				.menu-party .char.in-rand .attr {
				    background-color: white;
				    box-shadow: 0 0 20px 3px white;
				    transition: 0.1s; } 

			    .menu-party .char .attr .val {
				    float: right;
				    color: white;
				    font-family: "Righteous"; }
				    .menu-party .char .attr .val i {
					    position: relative; top: -7px; left: -1px;
					    color: white;
					    font-size: 8px;
					    padding: 0 1px;
					    /*border-radius: 100%;*/
					    /*border: 1px solid white;*/
					    /*margin-right: 5px;*/ }
			    .menu-party .char .attr .des {
		    	    float: left;
			    	display: none;
				    background-color: rgba(0,0,0,0.3);
				    width: calc(100% + 30px);
				    margin: 3px 0 -3px -15px;
				    padding: 5px 15px;
				    font-size: 12px; }
				    .menu-party .char .attr .des img { 
				    	float: right;
					    width: 60px;
					    border: 1px solid rgba(255,255,255,0.2);
					    padding: 1px;
					    margin-right: 2px;
					    margin-bottom: 2px; }
				    .menu-party .char .attr .des .det {
					    color: rgba(255,255,255,0.5);
					    font-size: 10px;
					    margin-bottom: 0px; }
				    .menu-party .char .attr .des .eff { 
				    	color: white;
					    font-size: 12px;
					    text-transform: capitalize;
					    line-height: 1.4; }

					.menu-party .char .attr.ttskill {
						border: 5px solid grey;
						border-top-width: 0;
						border-bottom-width: 0; }
						.menu-party .char .attr.ttskill .icon {
						    float: left;
						    width: 18px;
						    margin: -1px 5px 0 0;
						    transition: 0.3s }
							.menu-party .char .attr.ttskill .icon.open { width: 30px;
							transition: 0.3s }
					    .menu-party .char .attr.ttskill .val {
							position: absolute; top: 3px; right: 10px; }

	    	.menu-party.open .char.blank .scroll,
	    	.menu-party.open .char.blank .diamonds {
			    visibility: hidden;
			    top: -50px;
			    opacity: 0;
			    transition: 0.3s; }
		    	.menu-party.open .char .scroll,
		    	.menu-party.open .char .diamonds {
				    visibility: visible;
				    top: 0;
				    opacity: 1;
				    transition: 1s; }
		    	.menu-party .char .scroll,
		    	.menu-party .char .diamonds {
				    visibility: hidden; }

			.menu-party.open .char .build {
			    position: absolute;
			    bottom: 5px;
			    right: 5px;
			    line-height: 0;
			    font-size: 20px;
			    cursor: pointer; }
		      	.menu-party.open .char .build.creator { bottom: 30px; }

			    .menu-party.open .char.blank .build {
				    font-size: 40px; }
			      	.menu-party.open .char.blank .build.creator { 
			      		display: block; 
				      	bottom: calc(50% - 20px + 25px); 
				      	right: calc(50% - 20px + 20px); }
			      	.menu-party.open .char.blank .build.randomizer { 
			      		bottom: calc(50% - 20px - 25px); 
			      		right: calc(50% - 20px - 20px); }
				    .menu-party.open .char.blank .build:before {
					    content: "";
					    width: 140%;
					    height: 140%;
					    position: absolute;
					    top: -20%;
					    left: -20%;
					    border: 1px solid white;
					    transform: rotate(45deg);
					    transition: 0.3s; }

		    	.menu-party.open .char.blank .build:hover:before {
			    	box-shadow: 0 0 10px;
			    	transition: 0.3s; }


/*HOME*/
/*===================================================================*/
.home {
	position: relative;
	display: flex; align-items: center;
    width: 100%;
    height: 100%; }

    .home .init {
    	display: flex; align-items: center;
    	width: 100%;
    	height: 100%;
    	cursor: pointer; }
	    .home .init-btn {
	    	width: 100%;
			color: white;
			/*font-family: "Righteous";*/
			font-size: 40px;
			text-align: center;
			/*text-transform: uppercase;*/
			z-index: 10; }

    .home .load {
    	display: none;
    	width: 100%;
    	text-align: center;
    	z-index: 1; }
	    .home .load img {
		    width: 100px;
	    	transform: rotate(45deg); }

    .home .logo {
    	display: none;
    	width: 100%;
    	text-align: center;
    	z-index: 1; }
	    .home .logo img {
		    width: 80%;
		    max-width: 800px; }

	.home .newscast {
		display: none;
	    position: absolute; bottom: 25px; left: 100px;
	    max-width: calc(100% - 400px);
	    color: white;
	    padding: 0 15px 15px;
	    border: 1px solid rgba(255,255,255,0.2);
	    z-index: 10; }
	    .newscast .news-title {
			float: left;
	    	position: relative; top: -20px; 
			color: grey;
		    background-color: white;
		    font-family: "Righteous";
		    font-size: 25px;
			letter-spacing: -1px;
			line-height: 0;
			padding: 20px 30px;
		    margin-bottom: -10px; }
	    .newscast .news-cont { 
	    	float: left;
	    	width: 100%; }

/*COLOR GRADE*/
.color-grade {
	display: none;
    position: absolute; 
    width: 100%; height: 100%; 
    z-index: 0;
    background: linear-gradient(to bottom, grey 0%, rgba(0,0,0,0) 25%); }
.color-grade.bot {
    bottom: 0;     
    height: 125px;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 75%, grey 100%);
    transition: 0.3s; }


/*DIAMOND*/
/*===================================================================*/
.diamond {
	display: none;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: rotate(45deg); }
    .diamond.block {
	    background-color: grey;
	    opacity: 0.6; }
    .diamond.outline {
	    border: 2px solid white; }

	.diamond .glow {
	    width: 100%;
	    height: 100%;
	    filter: blur(50px);
	    transform: scale(1.2);
	    opacity: 0.5; }

	.diamond.ontop {
		z-index: 3; }

/*MAIN PAGES*/
/*===================================================================*/
.main-page {
	display: none;
    float: left;
    width: 100%;
    height: 100vh;
    z-index: 1; }
    .main-page .hero {
	    float: left;
	    position: relative;
	    background-color: grey;
	    width: 0;
	    height: 100vh;
	    background-size: cover;
		background-position: center; }
	    .main-page.open .hero {
		    width: 30%;
		    transition: 0.5s; }
	.main-page .hero:before {
		content: "";
		position: absolute; top: 10px; left: 10px;
		width: 0;
		border: 2px solid transparent;
		border-right: 50px solid transparent;
		height: calc(100% - 20px); }
		.main-page.open .hero:before {
			width: 100%;			
			border: 2px solid white;
			border-right: 2px solid white;
			transition: 0.7s; }

	.main-page .content {
	    float: left;
	    width: calc(100%);
	    height: 100vh;
	    color: white; }
		.main-page.open .content {
	    	width: calc(100% - 30%);
		    transition: 0.5s; }

	    .main-page .scroll {
		    width: calc(100% + 17px);
		    height: 100vh;
		    padding: 50px 100px 0 50px;
		    overflow-y: scroll; }

	    	/*.main-page .scroll:before { 
	    		animation: scrollLoop 1.5s infinite;
	    		content: "";
	    		position: absolute; right: 0;
	    		width: 5px;
    			background-color: white; }*/
	    	.main-page .scroll:after {
				content: "";
				display: block;
				height: 150px;
				width: 100%; }

	    .main-page .title {
		    font-family: "Righteous";
		    font-size: 30px;
		    font-weight: bold;
		    text-transform: uppercase;
		    letter-spacing: -1px;
		    margin-bottom: -10px; }
	    .main-page .tag {
		    margin-bottom: 30px; }
		.main-page .cont .head {
		    font-family: "Righteous";
		    text-transform: uppercase;
		    font-size: 18px;
		    font-weight: bold;
		    line-height: 15px;
		    margin-top: 25px; }
		.main-page .cont p {
    		text-indent: 50px;
    		margin-bottom: 5px; }

    	.main-page .cont p.no-indent {
    		text-indent: 0; }


/*PARTICLES*/
/*===================================================================*/
#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	z-index: 1; }


/*FIELD*/
/*===================================================================*/
.main-field {
    float: left;
    width: 100%;
    height: 100%; }
	.field {
		position: relative;
		width: 800px;
		height: 675px;
	    margin: 0 auto; }

		.field .tile {
			position: absolute;
		    background-color: rgba(255,255,255,0.5);
		    font-size: 10px;
		    border: 2px solid rgba(255,255,255,0.5);
		    border-radius: 5px; }

	.menu-party .char .attr .des .field {
	    float: right;
	    width: 62px;
    	height: 62px;
        margin: 0 -5px 0 5px; }
		.menu-party .char .attr .des .field .tile {
			background-color: rgba(255,255,255,0.2);
			border-width: 0; 
			border-radius: 1px; }
		.menu-party .char .attr .des .field .tile.caster { background-color: #00bcd4; }
		.menu-party .char .attr .des .field .tile.inrange { border-width: 1px; }
		.menu-party .char .attr .des .field .tile.target { background-color: #8bc34a; }

/*MYMA/AFFI CONTS*/
/*===================================================================*/
.list-trait {
	display: block;
	margin-bottom: 5px;
    text-indent: 0;
    border: 1px solid rgba(255,255,255, 0.2);
    padding: 10px 20px; }
	.list-trait i {
		display: inline-block;
		position: relative;
	    width: 25px;
	    height: 25px;
	    color: white;
	    font-size: 14px;
	    text-align: center;
	    padding-top: 5px;
	    text-indent: 0;
	    border: 1px solid rgba(255,255,2550.5);
	    border-radius: 100%;
	    margin-right: 5px; }
    .list-trait .des {
	    padding: 5px 0; }

.buff i {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    padding: 1px; }
.buff img {
    float: none !important;
    width: 20px !important;
    background-color: transparent !important;
    color: #333 !important;
    padding: 1px !important;
    border: 1px solid rgba(255,255,255,0.2) !important;
    border-radius: 3px !important;
    margin-right: 0 !important; }
	.tooltip-box .buff img { 
    	width: 15px !important; }

.damagetype {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.5); }
    .damagetype.physical { background-color: #ff9800; }
    .damagetype.mystical { background-color: #2196f3; }

.charbar {
	position: relative; top: 2px;
    display: inline-block;
    max-width: 150px;
    width: 20px;
    font-size: 12px;
    text-align: right;
    line-height: 1.2;
    padding: 0 5px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,0.3);
    margin-right: -5px;
    mix-blend-mode: luminosity;
    overflow: hidden;
    transition: 0.3s;
    transition-delay: 1s; }
    .charbar.health { background-color: #8bc34a; }
	.charbar.energy { background-color: #ff9800 }
	.charbar.myst { background-color: #2196f3 }

myma,
affi,
trait {
	display: block;
	margin-bottom: 5px;
    text-indent: 0;
    border: 1px solid rgba(255,255,255, 0.2);
    padding: 10px 20px; }
	myma i,
	affi i,
	trait i {
		display: inline-block;
		position: relative;
	    width: 25px;
	    height: 25px;
	    color: white;
	    font-size: 14px;
	    text-align: center;
	    padding-top: 5px;
	    text-indent: 0;
	    border: 1px solid rgba(255,255,2550.5);
	    border-radius: 100%;
	    margin-right: 5px; }
	myma span,
	affi span,
	trait span {
	    font-size: 12px;
	    margin-left: 10px; }
    myma .des,
    affi .des,
    trait .des {
	    padding: 5px 0;}
    myma .stat,
    affi .stat,
    trait .stat {
	    font-size: 12px;
	    padding: 5px 30px 0;
	    text-transform: capitalize; }

/*ANIMATIONS*/
/*===================================================================*/
@keyframes diamondGrow {
	0% { transform: scale(0) rotate(45deg); opacity: 0; }
	100% { transform: scale(1) rotate(45deg); opacity: 0.6; } }
@keyframes diamondShrink {
	0% { transform: scale(2) rotate(45deg); opacity: 0; }
	100% { transform: scale(1) rotate(45deg); opacity: 0.6; } }

@keyframes diamondDashY {
	0% { transform: rotate(45deg) scaleX(1) scaleY(1); opacity: 0.6; }
	30% { transform: rotate(45deg) scaleX(0.9) scaleY(1); opacity: 0.6; }
	100% { transform: rotate(45deg) scaleX(7) scaleY(1); opacity: 0.6; } }
@keyframes diamondDashX{
	0% { transform: rotate(45deg) scaleX(1) scaleY(1); opacity: 0.6; }
	30% { transform: rotate(45deg) scaleX(1) scaleY(0.9); opacity: 0.6; }
	100% { transform: rotate(45deg) scaleX(1) scaleY(7); opacity: 0.6; } }

@keyframes diamondDashLeft {
	0% { transform: translateX(1000px) rotate(45deg); opacity: 0; }
	100% { transform: translateX(0) rotate(45deg); opacity: 0.6; } }
@keyframes diamondDashRight {
	0% { transform: translateX(-1000px) rotate(45deg); opacity: 0; }
	100% { transform: translateX(0) rotate(45deg); opacity: 0.6; } }

@keyframes diamondBorderGrow {
	0% { transform: scale(0) rotate(45deg); opacity: 0; border-width: 100px }
	100% { transform: scale(1) rotate(45deg); opacity: 0.7; border-width: 2px } }

@keyframes scrollLoop {
	0% { top: calc(0% - 200px); height: 250px; }
	50% { top: 50%; height: 50px; }
	100% { top: calc(100% + 50px); height: 250px; } }